html {
    box-sizing: border-box;
}

*,
* ::before,
* ::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
}

body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: 16px;
    margin: 0;
    
}


.header {
    margin-top: 30px;
    margin-bottom: 164px;
}

.container {
    max-width: 1265px;
    margin: 0 auto;
}

.nav {
    display: grid;
    grid-template-columns: 95px auto auto 150px 100px;
    align-items: center;
    height: 164px;
    width: 1265px;
    position: fixed;
    top: 0;
    z-index: 2;
    background: #fff;
   
}

.material-icons {
    justify-self: center;
}

.menu {
    display: flex;
    justify-self: end;
    gap: 0 20px;

}


.menu__list {
    transition: 2s;
}

.menu__list:hover {
    transform: scale(1.15);
    border-bottom: 1px solid tomato;
}

.menu__link {}

.basket {
    display: flex;
    align-items: center;
    justify-self: end;
    position: relative;
}

.basket_text {
    position: absolute;
    right: -7px;
    top: -20px;
    background: tomato;
    color: white;
    border-radius: 50%;
    font-size: 60%;
    padding: 0.3rem;
}


.registration {
    justify-self: end;
    cursor: pointer;
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    background-color: black;
    transition: all 1s;
}

.registration:hover {
    transform: scale(1.1);
}


.main__img {
    position: relative;
    background-image: url(/img/headerimages.png);
    height: 597px;
    border-radius: 20px;
    background-position: center;
    margin-bottom: 120px;

}

.main-img:hover {
    opacity: 1;
    background: rgba(0, 0, 0, 0.5);
}



.main__btn {

    cursor: pointer;
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    opacity: 0;
    position: absolute;
    width: 200px;
    height: 40px;
    top: 273px;
    background: black;
    left: calc(50% - 100px);
    color: #fff;
    transition: all .3s;
}

.main__btn:hover {

    opacity: 1;
    transition: all .3s;
}


.main__content {}

.main__title {
    margin-bottom: 32px;
    font-size: 40px;
    line-height: 44px;
}

.main__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 35px;
}

.main__list-item {}

.item__img {
    margin-bottom: 24px;
}

.item__text1 {
    font-size: 20px;
    margin-bottom: 4px;
    line-height: 30px;
}

.item__text2 {
    margin-bottom: 4px;
    color: #828282;
    line-height: 30px;
}

.item__price {
    font-size: 20px;
    margin-bottom: 4px;
}

.item__btn {
    display: flex;
    align-items: center;
    gap: 10px;
}

.item__btn-add {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border: none;
    padding: 5px;
    border-radius: 5px;
    padding: 5px;
    color: #fff;
    top: 273px;
    background: black;
    color: #fff;
    transition: all .3s;
}

.item__btn-add:hover {
    transform: scale(1.1);
}

.item__btn-delete {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: #fff;
    top: 273px;
    background: black;
    color: #fff;
    transition: all .3s;
    margin-bottom: 3px;
}

.item__btn-delete:hover {
    transform: scale(1.1);
}
.item__btn-basket {
    width: 100px;
    height: 25px;
    cursor: pointer;
    border: none;
    padding: 5px;
    border-radius: 5px;
    padding: 5px;
    color: #fff;
    top: 273px;
    background: black;
    color: #fff;
    transition: all .3s;
}

.item__btn-basket:hover {
    transform: scale(1.1);
}


.fruits__count {
    min-width: 25px;
    min-height: 25px;
    max-width: 50px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}

/*==========================*/

body {
    overflow-x: hidden;
}

/* фон нашего модального окна */
.modalBackground {
    display: none;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    /* указываем z-индекс для корректного наслаивания */
    z-index: 3;
}
/* позиционирование самого модального окна */
.modalActive {
    position: absolute;
    width: 350px;
    height: 495px;
    top: calc(50% - 200px);
    left: calc(50% - 50px);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    cursor: default;
    padding: 40px 20px;
}
/* кнопочка закрытия модального окна */
.modalClose {
    font-family: var(--font-regular);
    position: absolute;
    right: 5px;
    top: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/* сама картинка кнопочки закрытия */
.modalClose img {
    margin: 3px;
    width: 24px;
    height: 24px;
}
.modalWindow {
    position: relative;
}


.text-field {
    margin-bottom: 1rem;
  }

  .text-field__label {
    display: block;
    margin-bottom: 0.25rem;
  }

  .text-field__input {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .text-field__input::placeholder {
    color: #212529;
    opacity: 0.4;
  }

  .text-field__input:focus {
    color: #212529;
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
  }

  .text-field__input:disabled,
  .text-field__input[readonly] {
    background-color: #f5f5f5;
    opacity: 1;
  }

  /* is invalid */
  .text-field__input_invalid,
  .text-field__input_valid {
    border-color: #dc3545;
    padding-right: 2.25rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.5625rem center;
    background-size: 1.125rem 1.125rem;
  }

  .text-field__input_valid {
    border-color: #198754;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
  }

  .text-field__input_invalid:focus {
    border-color: #dc3545;
    box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
  }

  .text-field__input_valid:focus {
    border-color: #198754;
    box-shadow: 0 0 0 0.25rem rgb(25 135 84 / 25%);
  }

  .text-field__message {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: .875rem;
    color: #dc3545;
  }

  .text-field__input_valid~.text-field__message {
    color: #198754;
  }

  .text-field__input_invalid~.text-field__message,
  .text-field__input_valid~.text-field__message {
    display: block;
  }

  .subBtn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: black;
    padding: 5px;
    font-size: 1rem;
    border-radius: 5px;
    transition: all 1s;
  }

  .subBtn:hover {
    transform: scale(1.1);
  }
/*==========================*/
